[2010-07-16 03:04] bhelyer opened #1 "+ as statement in function results in segfault."

[2010-07-17 00:04] bhelyer opened #2 "at-keywords are in fact, two tokens."
The lexer should recognise that @property is an @ token followed by the identifier property, not just the string '@property', as I initially thought.

[2010-07-23 09:38] bhelyer opened #3 "Inconsistencies in AST."
Among other things, sometimes identifiers are called 'identifiers' and sometimes 'name'. They should be named by purpose, so 'name' is the new way of doing things.

[2010-09-01 02:11] #1 closed, assigned to nobody

[2010-09-13 18:51] JakobOvrum opened #4 "Old readme!"
I often look to see how this project is doing, and I can pick up fragments of it from the list of recent commits... but I'd love the readme to be updated once in a while :P

[2010-09-23 12:07] #4 closed, assigned to nobody

[2011-06-12 14:50] #2 closed, assigned to nobody

[2011-06-12 14:56] bhelyer opened #9 "Calling a member function from another module causes an LLVM MVE."
Example code:

[code]

[2011-06-12 15:34] bhelyer opened #10 "Creating class variable (not just instance) from another module causes range error."
Example code:

[code]

[2011-06-12 15:47] bhelyer opened #11 "Static arrays."

[2011-06-12 15:48] bhelyer opened #12 "Value range propagation."

[2011-06-12 15:48] bhelyer opened #13 "No debug info."

[2011-06-12 15:50] bhelyer opened #14 "void main behaves incorrectly."
Its return type is erratic (whatevers in `%eax` I guess). It should return zero to the system.

[2011-06-13 00:34] bhelyer opened #15 "Trailing struct with no closing brace causes range error in Location."
[code]

[2011-06-13 01:08] bhelyer opened #16 "An import inside of an aggregate causes a segfault."

[2011-06-16 13:48] bhelyer opened #17 "Type.name is not correctly implemented for all types."

[2011-06-18 14:42] #9 closed, assigned to nobody

[2011-06-20 04:12] #16 closed, assigned to nobody

[2011-06-30 23:58] #10 closed, assigned to nobody

[2011-08-19 04:57] bhelyer opened #18 "Performing a goto to an immediately following label causes the label to incorrectly be marked as "unreachable"."
[code]

[2011-08-28 10:08] Wallbraker opened #23 "sdc.ast & sdc.parser references sdc.gen"
The frontend should not depend on the codegen backend.

[2011-08-28 14:05] Wallbraker opened #24 "SDC breaks when invoked by concurrently"
When running the test runner multi-threaded it will launch more then once instance of SDC at the same time.

This causes temporary files to be overwritten inbetween instances, especially the object.bc, object.s files. Change these files to be loaded in /tmp or something.

[2011-08-29 14:00] #15 closed, assigned to nobody

[2011-09-02 19:25] Wallbraker opened #25 "Invalid expressions not rejected"
This invalid code is not rejected by the compiler, please notice the missing operator between func2 and func3.

[code]

Please see test60.

[2011-09-03 09:51] #23 closed, assigned to nobody

[2011-09-05 05:27] #25 closed, assigned to nobody

[2011-09-05 06:00] #17 closed, assigned to nobody

[2011-09-07 00:06] #24 closed, assigned to nobody

[2011-09-12 00:45] SerialVelocity opened #27 "Incorrectly parses comments"
Inserting

[code]

causes the error:
test.d(4:4): error: expected type, not '*'.

The program I tested this with is:

[code]

[2011-09-12 01:23] SerialVelocity opened #28 "Returning a template value"
Hey,

This code compiles:

[code]

while this code doesn't:

[code]

It crashes with a long access violation.

[2011-09-12 11:32] #27 closed, assigned to nobody

[2011-09-12 11:32] #28 closed, assigned to nobody

[2011-09-13 13:51] #18 closed, assigned to nobody

[2012-01-25 22:33] bhelyer opened #30 "If there's a function named the same as the module, SDC tries to add the module to the module."
[code]

[2012-01-31 19:55] simendsjo opened #31 "Build instructions for nix out of date?"

[2012-02-05 12:16] SerialVelocity opened #32 "MAC OS X compilation"
When compiling on MAC OS X, these are the errors when trying to run "make run". I only made one change and that was in makefile.common which was:

[code]

[code]

[2012-02-06 11:26] #32 closed, assigned to nobody

[2012-02-29 08:52] #31 closed, assigned to nobody

[2012-03-20 14:56] JakobOvrum opened #34 "Documentation comments need to make it to the AST"
For eventual DDoc support, or for people who want to use the SDC lexer and parser for a documentation generator, documentation comments cannot be ignored at the lexing stage as they are now.

[2012-03-24 16:12] SerialVelocity opened #35 "Implicit conversion"
[code]

Surely that should compile? It complains that it can't implicitly convert to ubyte\* from int. That isn't implicit ;)

[2012-03-25 01:33] #35 closed, assigned to nobody

[2012-04-21 03:33] carlor opened #43 "Not building on Mac"
Typing `make` on OSX results in a linker error for dmd 2.059:

[code]

[2012-04-21 07:00] #43 closed, assigned to nobody

[2012-04-23 02:25] Aatch opened #45 "Buffered IO for lexer"
Currently the lexer reads the entire file into a string, however this could end up being unreasonable for large files and probably should be changed to using some sort of buffered IO.

[2012-05-31 05:29] bhelyer opened #46 "Inferred is a top level type type."
This leads to oddities like the correct internal representation of

[code]

being

[code]

in addition, the first example isn't parsed correctly yet. So we should fix both at the same time.

[2014-05-24 03:55] timotheecour opened #53 "core.exception.AssertError@src/sdc/sdc.d(79): filenotfoundmalheur ! /object.d"
on mac, after running make I get:
core.exception.AssertError@src/sdc/sdc.d(79): filenotfoundmalheur ! /object.d

it happens in:
obj/rt/%.o: $(LIBSDRT_ROOT)/src/d/rt/%.d $(LIBSDRT_SRC) $(LIBSDRT_EXTRA_DEPS)
    @mkdir -p obj/rt
    $(SDC) -c -o $@ $< $(LIBSDRT_IMPORTS)

indeed there's no object.d in libsdrt/src/

it goes away after adding -Ilibs

[2014-05-24 03:57] timotheecour opened #54 "Undefined symbols for architecture x86_64: "std::string::find_last_not_of(char, unsigned long) const""
On OSX, running make I get:
Undefined symbols for architecture x86_64:   "std::string::find_last_not_of(char, unsigned long) const"

problem goes away after I edit makefile:
-lstdc++ => -stdlib=libstdc++ -lstdc++

[2014-05-24 04:01] timotheecour opened #55 "ld: library not found for -lphobos2"
on mac running make I get: ld: library not found for -lphobos2
problem goes away after I edit LDFLAGS to add -L/path/to/std
would be good to guess this from dmd.conf (itself deduced from dmd binary)

[2014-05-24 08:46] #3 closed, assigned to nobody

[2014-05-24 08:46] #11 closed, assigned to nobody

[2014-05-24 08:47] #14 closed, assigned to nobody

[2014-05-24 08:47] #30 closed, assigned to nobody

[2014-05-24 08:47] #34 closed, assigned to nobody

[2014-05-24 08:47] #45 closed, assigned to nobody

[2014-05-24 08:48] #46 closed, assigned to nobody

[2014-05-24 19:17] #54 closed, assigned to nobody

[2014-05-25 04:30] timotheecour opened #56 "rename tests with format("test%04s", index) (test1.d=>test0001.d)"
so they show up correctly sorted in any command / editor

[2014-05-25 04:36] timotheecour opened #57 "15 tests fail"
test21.d: FAILED
test36.d: FAILED
test37.d: FAILED
test38.d: FAILED
test65.d: FAILED
test66.d: FAILED
test76.d: FAILED
test77.d: FAILED
test81.d: FAILED
test85.d: FAILED
test145.d: FAILED, REGRESSION
test148.d: FAILED, REGRESSION
test149.d: FAILED, REGRESSION
test150.d: FAILED, REGRESSION
test151.d: FAILED, REGRESSION

[2014-05-25 19:18] timotheecour opened #58 "make ./runner interruptible with control C or control \"
currently ./runner can't be stopped until it finishes.
would be good to either provide signal handler to kill all threads on control C or control \
(or at least show pid of running program so we can kill it with kill -9 pid; that's less fragile than running ps x|grep runner as this could have more than 1 entry)

[2014-05-26 02:05] #56 closed, assigned to nobody

[2014-06-21 23:22] #53 closed, assigned to nobody

[2014-07-14 14:09] UplinkCoder opened #63 "support -m32 and -m64 codegen"
Hello,
I just compiled sdc on my 32bit machine and it runs just fine.
but it always build 64bit code
I already changed the hardcoded triple to `i386-pc-linux-gnu` but  nothing changed

[2014-09-14 04:17] dymk opened #67 "OSX with LLVM 3.4 compatibility"
Currently, SDC does not work on OSX with LLVM 3.4. SDC will complain:

[code]

This is because clang/llvm 3.4 is dropping the symbol '_d_array_bounds' at link time, causing the JIT to not be able to find it when its needed. I came to this conclusion by forcing the symbol to be referenced in the compiler's main, by printing its address:

[code]

Building the compiler (and then the runtime with the

[2014-10-10 14:52] UplinkCoder opened #74 "nested functions cause sdc to segfault"
a function like
`void f() {void g() {} }`
causes sdc to segfault
I guess this has something to do with scopeing and symbol lookup

[2014-10-21 17:34] #67 closed, assigned to nobody

[2014-10-31 08:56] UplinkCoder opened #78 "SDC gives acsess to the outer scope even if inner struct is static"
The following compiles (with sdc) and returns 42 :

[code]

But it should not be allowed to compile!
As long as `c` is not `static`.

[2014-11-09 09:49] JinShil opened #80 "type aliasing extern(C) functions not compiling"
exhibit A:

[2014-11-09 09:49] #80 closed, assigned to nobody

[2014-11-09 09:52] JinShil opened #81 "type aliasing extern(C) functions not compiling"
exhibit A:

[code]

exhibit B:

[code]

[2014-11-09 11:15] JinShil opened #82 "Add support for main(string[] args)"
`void main() { }` is fine, but `void main(string[] args)` results in:

[code]

[2014-11-09 12:21] JinShil opened #83 "Implement inline assembly"

[2014-11-09 12:30] JinShil opened #84 "Implement -L option to forward options to the linker"
If you are using gcc as a linker, please see https://github.com/ldc-developers/ldc/issues/780 for some potential implementation problems

[2014-11-11 03:26] #74 closed, assigned to nobody

[2015-01-14 02:33] timotheecour opened #88 "make fails: Error: template d.ir.type.Type.accept cannot deduce function from..."
make fails at this step:
dmd -c -ofobj/libd-llvm.o libd-llvm/src/d/llvm/*.d libd-llvm/import/llvm/c/target.d -m64 -w -debug -gc -unittest -Ilibd-llvm/import -Ilibd-llvm/libd/src

libd-llvm/src/d/llvm/type.d(42): Error: template d.ir.type.Type.accept cannot deduce function from argument types !()(TypeGen), candidates are:
libd-llvm/libd/src/d/ir/type.d(85):        d.ir.type.Type.accept(T)(ref T t)

[2015-01-14 07:00] UplinkCoder commented on #88
use dmd 2.066 not master

[2015-01-15 02:51] deadalnix commented on #88
So master is broken again ? My computer is starting to hate dustmite :(

[2015-01-18 00:05] deadalnix commented on #88
Fixed. This is linked to this being final in classes now.

[2015-01-18 00:05] #88 closed

[2015-02-04 10:59] atilaneves opened #89 "Build fails on Arch Linux 64-bit"
I don't know if I need to use dmd head or not, I'm using the default dmd 2.066. Output from make:

    dmd -c -ofobj/sdc.o src/sdc/*.d src/util/*.d -m64 -w -debug -gc -unittest -Ilibd-llvm/import -Ilibd-llvm/libd/src -Ilibd-llvm/src
    dmd -c -ofobj/libd.o libd-llvm/libd/src/d/lexer.d libd-llvm/libd/src/d/exception.d libd-llvm/libd/src/d/context.d libd-llvm/libd/src/d/object.d libd-llvm/libd/src/

[2015-02-04 19:37] deadalnix commented on #89
It looks like the sdc.conf file is not generated properly. Can you tell me what it contains ? It should be in bin/sdc.conf

[2015-02-04 19:43] deadalnix commented on #89
The rule in the makefile is

bin/sdc.conf:
	@mkdir -p bin
	echo "{\n\t\"includePath\": [\"$(PWD)/libs\", \".\"],\n\t\"libPath\": [\"$(PWD)/lib\"],\n}" > $@

It seems dubious that this would not work. Could your shell be screwing up escaping ?

[2015-02-05 13:33] atilaneves commented on #89
cat bin/sdc.conf
    {\n\t"includePath": ["/home/aalvesne/coding/d/SDC/libs", "."],\n\t"libPath": ["/home/aalvesne/coding/d/SDC/lib"],\n}

I started a bash shell (I usually use zsh) just in case and got the same error.

[2015-02-05 13:36] atilaneves commented on #89
Even weirder, I copied the `echo` command from the makefile and ran it myself, the newlines and tabs are there.

[2015-02-05 13:47] atilaneves commented on #89
So apparently on my system `echo` in the Makefile is calling `/bin/echo` instead of the shell built-in. They behave differently. How fun.

[2015-02-05 17:49] deadalnix commented on #89
I'm gonna try the printf thing tonight. Worst case scenario, if something is not going well with printf, we can still provide a default sdc.conf and copy it.

[2015-02-06 07:30] UplinkCoder commented on #89
Or leave out the escape Sequences. I have a pull request for that open

[2015-02-06 07:55] deadalnix commented on #89
First of all, you never explained what the problem was, so, as I'm not psychic, I can't know it is solving that problem.

Second, a moron programmed some shitty UNIX utility that do not handle escaping properly. The solution is not to be as moronic as this guy and do not to screw up formating on our side, it is to not to use that code anymore.

[2015-02-09 14:23] atilaneves commented on #89
Updated with the trailing newline.

[2015-02-09 20:43] #89 closed

[2015-02-09 20:43] deadalnix commented on #89
Thank you :)

[2015-02-23 16:35] schancel opened #91 "Makefiles on MacOS X don't work"
Manually changed a bunch of stuff to get them to function.  Will submit a PR soon.

[2015-02-24 02:12] deadalnix commented on #91
The path for libraries is non standard on OSX. You can specify it via LD_PATH=/usr/share/dmd/lib (or whatever it is on your install).

Maybe it can be found using the output of dmd -v . That would be the only way to make that work IMO.

[2015-02-24 17:50] schancel commented on #91
The issue is two-fold.  DMD.Conf has to be setup correctly (I did that) but also on Darwin llvm-config (as installed by brew) is in another location.  Additionally, gcc is not gcc on MacOS X, it's a translation late for gcc args to clang.  It's not 100% compatible.   There's a naked `-` on one of the gcc lines that trips it up.

[2015-02-25 21:59] deadalnix commented on #91
Ha yes, I use the real gcc on my OSX setup (if I want clang, I'll type clang, thank you apple).

You can specify the LLVM_CONFIG you want via LLVM_CONFIG=~/d/llvm/build/Debug+Asserts/bin/llvm-config (or whatever the path you want).I prefers using my own build of LLVM so I get the assertion enabled and I can work on optimization passes.

[2015-03-28 16:19] schancel opened #96 "test0077.d compiles, but should not?"
DMD fails on it with:
[code]

SDC happily compiles it.  I believe the test should not compile as-is.  And also, it should be changed to have `const(char)* cmsg2 = cmsg + 7;` vs `const char* cmsg2 = cmsg + 7;`

[code]

[2015-03-28 16:23] schancel opened #97 "test0065.d compiles, but should not."
DMD:
[code]

DMD's error seems valid.

[code]

[2015-03-28 16:25] schancel opened #98 "Add c imports to SDC."
We should at least be able to handle the std.c.* modules at this point.   Some of our tests use malloc which is exposed due to the way we handle our runtime, but these tests fail against DMD because they do not import std.c.stdlib;

[2015-03-28 16:38] schancel opened #99 "Spelling error in error message:"
[code]

methode -> method

Will submit PR.  Adding issue for reminder.

[2015-03-28 16:44] schancel opened #100 "scope statements allow return, but should not"
DMD errors as follows:

[code]

[2015-03-28 17:12] schancel opened #101 "Possible SDC bug regarding UFCS."
Problem: DMD now seems to treat () as optional in all cases where parameters are not necessary.  You must add & in front of it to get the function pointer.

https://issues.dlang.org/show_bug.cgi?id=14353
https://issues.dlang.org/show_bug.cgi?id=14360

[2015-03-28 17:36] schancel opened #102 "SDC incorrectly handles mixins/static ifs which define functions"
SDC incorrectly handles mixins/static ifs which define functions having the same name as an existing function, but different signatures

https://issues.dlang.org/show_bug.cgi?id=14354

[2015-03-28 17:41] schancel commented on #102
https://issues.dlang.org/show_bug.cgi?id=14355

[2015-03-28 17:52] schancel opened #103 "SDC allows alias to literals"
e.g.:
[code]

https://issues.dlang.org/show_bug.cgi?id=14361

[2015-03-28 18:29] schancel opened #104 "SDC incorrect order of operation on ternary expressions(?)"
@UplinkCoder Please look at this:

DMD and SDC differ on the value of the ternary expression:
[code]

https://issues.dlang.org/show_bug.cgi?id=14364

[2015-03-29 05:01] deadalnix commented on #96
immutable(char)*

[2015-03-29 05:02] deadalnix commented on #104
Spent a fair amount of time on that one and I think SDC is right.

[2015-03-29 05:04] deadalnix commented on #102
It is not incorrect, it is intended.

[2015-03-29 05:04] #102 closed

[2015-03-29 05:05] deadalnix commented on #98
Go for it :)

I do think we will face issue with various version not being defined as expected, but that is worthwhile work.

[2015-03-29 05:39] deadalnix commented on #97
Seems legit. Type qualifier are wonky in SDC at this point.

[2015-03-29 05:40] deadalnix commented on #99
méthode is the french term :)

[2015-03-29 05:41] deadalnix commented on #100
Yes, let's consider this a feature at this point. Also, this is a recent change in DMD, and the details of the spec are still in flux (for instance, you can't throw, but you can call a method that do). Let's figure that out when things settle down.

[2015-03-29 05:41] deadalnix commented on #101
So far, I consider this a s a feature :) optional () are way down the list of thing to do, if they need ot be done at all.

[2015-03-29 05:42] deadalnix commented on #103
It is not a bug, it is a feature. Aliasing value is possible, not literals. DMD is wrong on that one.

[2015-03-29 05:42] #103 closed

[2015-03-29 05:45] schancel commented on #99
We should probably instrument some i18n lookup for errors?

[2015-03-29 05:45] schancel commented on #100
Seems reasonable.   I'm the one that raised the stink about making this illegal in the first place though :P

[2015-03-29 05:46] schancel commented on #101
I think that optional () is a bad idea.  Causes confuses with FP addresses with ref returns and shit.

[2015-03-29 05:46] schancel commented on #103
The spec doesn't allow for it though.  *shrug*

[2015-03-29 06:05] deadalnix commented on #103
http://en.wikipedia.org/wiki/Embrace,_extend_and_extinguish

:smiling_imp:

[2015-03-29 06:06] deadalnix commented on #99
Yes, but that is way down the TODO list. Getting proper errors in english is higher :)

[2015-03-29 06:07] deadalnix commented on #100
We can outlaw it later, that's no big deal; I'd like to keep it there as exercising it in tests is a good way to keep the backend doing the right thing in insane unwinding situations.

[2015-03-29 06:08] deadalnix commented on #101
Yes that is why I'd like to defers any question about them to later.

[2015-03-29 12:16] UplinkCoder commented on #99
I like the `filenotfoundmalheur` but in should really be `File not found :`

[2015-03-29 13:42] UplinkCoder commented on #104
@schancel detecting this kind of ambiguity should be possible...
I will think about this one...
It fits into my static-analysis stuff

[2015-03-29 16:32] schancel commented on #104
@deadalnix Should we submit a PR to the Spec?

[2015-03-29 17:04] deadalnix commented on #104
There is no ambiguity. D is supposed to be LTR evaluation for ages, that is hardly news.

[2015-03-29 17:04] #104 closed

[2015-03-30 00:28] deadalnix opened #105 "VRP assert fail on some code"
auto lg2floor(size_t size) {
	enum S = size_t.sizeof * 8;
	for (int i = 1; i <= S; i++) {
		if (size & (1UL << (S - i))) {
			return S - i;
		}
	}

	return 0;
}

core.exception.AssertError@libd-llvm/libd/src/d/semantic/vrp.d(48): Result is not casted properly.

auto lg2floor(size_t size) {
	enum S = size_t.sizeof * 8;

	// XXX: use bsr/bsf
	for (int i = 1; i <= S; i++) {
		if (size & (1UL << (S -

[2015-03-30 09:00] deadalnix opened #106 "Infinite loop when creating variable named as parameters"
ptrdiff_t cmp(A* lhs, A* rhs) {
    	auto lhs = cast(ptrdiff_t) lhs;
    	auto rhs = cast(ptrdiff_t) rhs;

    	// Lower addresses are better.
    	return rhs - lhs;
    }

Ok this code is invalid, but an error message would be nicer than waiting indefinitely.

[2015-03-31 02:40] schancel commented on #106
Hah!  Whoops.

[2015-04-06 02:30] deadalnix opened #109 "foreach_reverse is not working properly"
https://github.com/deadalnix/SDC/pull/93

Is failing. This needs fixing. NOW.

[2015-04-08 18:18] dymk commented on #109
I'm not seeing foreach_reverse referenced in test0065  on ~master, which was apparently merged into ~master with #93. Am I missing something?

[2015-04-08 19:18] deadalnix commented on #109
The test was reversed because foreach_reverse was not implemented properly, and some people think tests are for illustration purpose, not to check that their PR work.

[2015-04-09 01:52] #109 closed

[2015-04-10 05:51] deadalnix opened #112 "Implement @property"
_From @schancel on October 2, 2014 0:42_

_Copied from original issue: deadalnix/libd#20_

[2015-04-10 05:51] deadalnix commented on #112
Damn, I though it was a pull request when seeing the notification :)

Yup that is one thing that is gonna open a lot of doors. That is high in the priority list.

[2015-04-10 05:51] deadalnix commented on #112
_From @schancel on October 2, 2014 4:2_

Sorry :) Just trying to start a list of things to do for reference purposes.

What all needs to be done to get this working.   Presumably some things with identifier lookups?  What else?

[2015-04-10 05:55] deadalnix opened #113 "Fix case ranges"
_From @schancel on October 2, 2014 0:58_

See test0076:

		case 1: .. case 10:
		        ^~
		        test0076.d:10: error: expected 'Begin', got 'DoubleDot'.

_Copied from original issue: deadalnix/libd#25_

[2015-04-10 05:55] deadalnix opened #114 "Implement ForeachStatement"
_From @schancel on October 2, 2014 17:41_

This is currently being worked by UplinkCoder via PR https://github.com/deadalnix/libd/pull/14

_Copied from original issue: deadalnix/libd#26_

[2015-04-10 05:55] deadalnix commented on #114
_From @UplinkCoder on October 2, 2014 18:52_

BTW It's an foreachStatement not an Expression.

[2015-04-10 05:55] deadalnix commented on #114
_From @UplinkCoder on October 4, 2014 19:41_

Done for static arrays see #14

[2015-04-10 05:56] deadalnix opened #115 "Scope(exit) allows return"
_From @schancel on October 3, 2014 3:29_

See test0120, which currently passes.

_Copied from original issue: deadalnix/libd#29_

[2015-04-10 05:56] deadalnix commented on #115
It is illegal now ?

[2015-04-10 05:56] deadalnix commented on #115
Also please post minimal sample code to repro the issue when doing a bug report, otherwize things become quickly untractable.

[2015-04-10 05:56] deadalnix commented on #115
_From @schancel on October 3, 2014 3:43_

Yes, see the last paragraph of http://dlang.org/statement.html#ScopeGuardStatement

Minimal code:
[code]
dmd produces: `testie.d(2): Error: return statements cannot be in scope(exit) bodies`

[2015-04-10 05:56] deadalnix commented on #115
Well that is new, it was allowed when I implemented this. Anyway, I don't think this is very important. It need to be addressed at some point, but me must focus on high impact changes.

[2015-04-10 05:56] deadalnix commented on #115
_From @UplinkCoder on October 3, 2014 8:42_

@deadalnix  @schancel  maybe we could do some kind of TODO, in the wiki or so.
Opening so much issues is a bit irritating.
I just made a small ugly TODO page for the wiki
please add stuff @schancel

[2015-04-10 05:56] deadalnix opened #116 "Declaring pointers to alias types fails."
_From @schancel on October 3, 2014 20:30_

Following code asserts:  `core.exception.AssertError@libd-llvm/libd/src/d/parser/ambiguous.d(318): Can be a pointer or an expression, or maybe even a declaration. That is bad !`

[code]

_Copied from original issue: deadalnix/libd#32_

[2015-04-10 05:56] deadalnix commented on #116
This one is not that hard to fix. Make the parser spit out a IdentifierStarIdentifierStatement and de-ambiguous in the semantic analysis of statement to generate the right IR.

[2015-04-10 05:56] deadalnix commented on #116
_From @UplinkCoder on October 26, 2014 14:9_

working on a fix

[2015-04-10 05:56] deadalnix commented on #116
_From @UplinkCoder on October 26, 2014 14:40_

I have found a naive fix :D
[code]

[2015-04-15 05:44] deadalnix commented on #99
It should really not be an assert.

[2015-04-15 05:49] deadalnix opened #117 "return; does not work"
return;

is parsed as being return, with null as an expression. The case is not handled properly. StatementVisitor should handle this case properly, and various part of libsdrt needs to be patched to take advantage of it.

[2015-04-15 05:51] deadalnix opened #118 "byte b = -127; cause assertion failure."
VRP needs to be improved to support cases like the one mentioned above.

[2015-04-15 05:55] deadalnix opened #119 "Add support for anonymous structs/unions"
struct S {
        struct { int a; } aa;
    }

This kind of construct is legal in D, not not handled properly right now.

[2015-04-15 06:02] deadalnix opened #120 "Add consistent support for type qualifiers"
Type qualifier are not consistently handled by SDC right now.

There are some tests that are passing which shouldn't because they do not use type qualifier consistently:
https://github.com/deadalnix/SDC/issues/97
https://github.com/deadalnix/SDC/issues/96

It is desirable for SDC to support type qualifier consistently.

[2015-04-15 06:06] deadalnix opened #121 "Implement interfaces"
This is purely additive feature and can be done in several steps. Step one would consist in getting something like :

    interface X {}

to compile. And then extend from there up to complete interface support.

The plan is to implement interfaces as fat pointer: one pointer to the object and one pointer to the vtbl.

[2015-04-15 06:50] deadalnix opened #122 "Implement debug support"
LLVM provide a system of metatdata that can be used to provide debug information. Now that runtime work has advanced quite a lot, debug support is becoming more and more important.

This needs to move forward.

[2015-04-15 06:52] deadalnix opened #123 "Use type qualifier to inform the backend"
Various information should be provided from the backend coming from metadata.

immutable and shared data should not be thread local, metadata should be added to indicate immutability of loads, etc...

[2015-04-15 07:06] deadalnix opened #124 "Gather metadata as expressions and statements are processed."
There are various information we want to gather when going over expressions. Are they pure ? Do they have effect ? Are they CTFEable ? nogc ?

[2015-04-15 07:11] deadalnix opened #125 "Refactor Location"
Right now, location is a fairly big struct that need to be carried on many nodes.

Using Context, Location can most likely be implemented as something much smaller that can be queried using the context object. For instance, with one ID per token, with full infos on the token node, and Location nodes being a pair of ID, size can be reduced dramatically.

It is even possible to consider to have only

[2015-04-15 07:13] deadalnix commented on #98
I've done it for various headers lately.  It is not that hard. Require fixing some bugs as you go along, but generally C like code is fairly well supported at this point.

[2015-04-15 07:17] deadalnix opened #126 "Implement sdunit"
it is time to get the sdc tool suite richer. I propose we leverage libd and libd-llvm 's power to get sdunit out of the ground.

sdunit is a unittest runner. It uses the sames libraries as SDC for semantic analysis and codegen. It does the codegen for all unittests blocks passed as argument, generate a main function that run them all, and finally JIT the whole thing and report on the result.

[2015-04-15 07:19] deadalnix opened #127 "Implement sdrepl"
This is tricky one. Since LLVM uses MCJIT, implementing a REPL is not as easy.

The plan forward is to create some binding for OrcJIT (new LLVM JIT, using the same code generation mechanism as MCJIT, but with a way more powerful interface), and use the lazy JIT t get some REPL out of the ground.

[2015-04-15 07:21] deadalnix opened #128 "Make the AST immutable (or at least const)"
AST is meant to be immutable as per design Right now it is not enforced (not even close).

AST being immutable is important so it can be reused, for instance accross template instantiations.

[2015-04-15 07:23] deadalnix opened #129 "Importing multiple time the same module crate ambiguous symbol error"
As per title. SDC goes to explore the 2 imports and find the symbol twice, deduce that there is an ambiguity.

This needs to be fixed.

[2015-04-15 07:30] deadalnix opened #130 "Add support for visibility"
Right now, visibility (public, private, etc...) is ignored by SDC.

These attributes need to be leverages for correct identifier resolution, as well as for determining the right linkage attribute for the generated symbols (right now, all symbols are declared as weak_odr, which is incorrect).

[2015-04-15 07:33] deadalnix opened #131 "Add operator overloading"
This is straightforward lowering. When operation are not supported, identifier resolution should kick in and if something valid is found, generate a call).

[2015-04-15 07:43] deadalnix opened #132 "Implement Maps (associative arrays)"
Well the title says it all.

This require some compiler support and runtime support for maps. This should be done as much as possible as runtime implemented template that the compiler instantiate.

[2015-04-15 07:53] deadalnix opened #133 "indentifier * identifier is ambiguous"
It can be either a declaration or an expression. Longer forms do not help either : id * id = foo can also be an expression or a delcaration.

It need to be encoded in the AST somehow, and then identifier resolution can tell us what it is. This is unclear how that fit in the current design.

[2015-04-15 07:56] deadalnix opened #134 "Ensure coherent error handling"
Right now, in many situations, error are thrown and catched down the road.

This dies not seem like a good way forward in general. There is a basic error handling mehcanism that exists : raiseCondition, but it is not consistently used and do not work in all scenarios.

We need to extend the tool for better error handling and drop the try catch blocks.

[2015-04-15 07:58] deadalnix opened #135 "CTFE arrays"
Arrays can be CTFEed (and this is required to get the allocator fast in libsdrt, so we can compute various metadata at compile time).

How the array is passed for MCJIT to the compiler is uncertain, but the way it is done for string should certainly provide some clues.

[2015-04-15 08:04] deadalnix opened #136 "Get destructors and postblit up to speed"
Basically, nothing is done to get them working, so everything remains to be done.

[2015-04-21 23:32] ErinaceusEuropaeus commented on #133
This should help solve the issue:

*"Any ambiguities in the grammar between Statements and Declarations are resolved by the declarations taking precedence. If a Statement is desired instead, wrapping it in parentheses will disambiguate it in favor of being a Statement."*
Walter Bright, 10 Nov 2010 (https://github.com/D-Programming-Language/dlang.org/commit/45709ff7a7982e374d01330d48a2120cd32b8f26)

[2015-04-21 23:50] deadalnix commented on #133
I know, but that is not good enough for things like REPL

[2015-04-22 19:18] deadalnix commented on #91
Let's close that one has we have the default location for phobos in the linker path now on OSX. llvm-config still need to be specified, but I see no way around this.

[2015-04-22 19:18] #91 closed

[2015-04-22 19:30] schancel commented on #135
Yes, we can do this exactly like the ctString implementation.  It's a hack, but it will work once there is a way to allocate arrays from within code compiled by SDC.

[2015-04-22 21:36] deadalnix commented on #135
Array not slice.

[2015-04-22 22:43] MartinNowak opened #139 "string constants should be 0 terminated"
[code]

[code]

If you emit string constants to the object file, they should be 0-terminated to be implicitly convertible to C-style strings.

[2015-04-23 09:42] UplinkCoder commented on #128
Indeed!

But what about incremental parsing ?

[2015-04-24 06:36] deadalnix commented on #128
What do you mean by incremental parsing ?

[2015-04-30 22:40] jwhear opened #142 "Attempts to read config from /.sdc when $HOME not found"
The contents of this if statement are always executed due to the empty string evaluating to true:
https://github.com/deadalnix/SDC/blob/master/sdc/src/sdc/conf.d#L16

See https://github.com/D-Programming-Language/dmd/pull/2885

[2015-05-02 01:28] deadalnix commented on #142
Thank for the catch. I can't believe Walter and Andrei are against the change.

[2015-05-29 06:23] deadalnix commented on #117
Fixed

[2015-05-29 06:23] #117 closed

[2015-05-29 21:22] deadalnix commented on #133
Ok fixed to some extent, will handle the declaration case.

[2015-05-30 16:30] UplinkCoder commented on #128
incremental parsing is used in REPLs.
where there is basicly one continuously growing source-file.
you don't want to parse all the stuff that came before again.
Because it is not going to change.

[2015-05-31 16:19] VlasovRoman opened #147 "Compilation error"
[roman@roman-PC SDC]$ make
gcc -o bin/sdc obj/sdc.o -m64  -lphobos2 -Llib -ld-llvm -ld -lLLVMBitReader `llvm-config --ldflags` `llvm-config --libs` -lstdc++ -export-dynamic -ldl -lffi -lpthread -lm -lncurses -lz
lib/libd-llvm.a(libd-llvm.o): In function `_D1d4llvm7backend11LLVMBackend10emitObjectMFAC1d2ir6symbol6ModuleAyaZv':
/home/roman/SDC/libd-llvm/src/d/llvm/backend.d:142: undefined reference

[2015-05-31 18:19] deadalnix commented on #147
These are all undefined reference from the standard lib. My bet is that you are compiling with one version on of DD and using another version of phobos.

But I can't really help you as you don't provide any informations.

$ make
make: Nothing to be done for `all'.

See, now you know as much about my setup than I know of yours.

[2015-06-01 05:09] VlasovRoman commented on #147
I use Manjaro Linux 0.8.13, dmd 2.067.1, llvm 3.5.2.
Should I post a list of llvm libs?

[2015-06-01 06:26] deadalnix commented on #147
No. The list of link error all come from phobos. I don't think you are linking the right phobos in there. That's still my bet.

[2015-06-02 18:23] deadalnix commented on #147
I assume this is fixed or you wouldn't be doing PR on lz. Please update and close tasks when the problem is solved. Commenting on how you solved the problem is also nice for other which may face the same problem so they can google for it. Don't be DenverCoder9 ( http://xkcd.com/979/ ).

[2015-06-06 03:29] VlasovRoman commented on #147
Thanks, issue closed.

[2015-07-13 10:45] deadalnix commented on #125
Closing.

[2015-07-13 10:45] #125 closed

[2015-07-13 10:45] deadalnix commented on #135
It is done.

[2015-07-13 10:45] #135 closed

[2015-10-10 09:42] bubnenkoff opened #164 "How to build SDC on Windows?"
Instruction please...

[2015-10-10 22:35] deadalnix commented on #164
I don't have any windows machine. I have no idea.

[2015-10-24 22:29] JohanEngelen opened #166 "objfile not output in current directory"
The command `sdc ../test.d` outputs files `a.out` and `../test.o`.
I would have expected that `test.o` would be created in the current directory, instead of in the same path as the input D file. This is what dmd does.
The fix for this is easy, let me know if desired.
(also, looking at the code in `main.d`, I think the extension should be fully stripped from the input file before generating the obj

[2015-10-25 12:10] JohanEngelen commented on #139
Just tested with master and this is fixed.
`@.str = private unnamed_addr constant [12 x i8] c"Hello World\00"`
Issue can be closed.

[2015-10-26 19:06] deadalnix commented on #166
It is not obvious as you can have several modules that share the same filename. What makes the most sense is to keep the folder that are packages, and drop the ones above this.

[2015-10-26 19:21] deadalnix commented on #139
Yes but I'm not happy with this. IMO the zero terminated string literal was a mistake as much as the auto conversion from array to pointer. I'd like to see a special case in the cast code that create a CStringLiteral ( of type immutable(char)* ) when casting from a StringLiteral and it fails.

[2015-10-26 19:34] JohanEngelen commented on #166
I think I do not agree... This is about the default place to put build artifacts, which for the compilers that I know is in the current folder. It'd be very strange to strip only part of the path, no?
Where should this command put the output?
`sdc ../../phobos/std/array.d`
(it's really just the default that is strange, I find. I think in practice one would specify the output location, which unfort

[2015-10-31 23:48] JohanEngelen opened #170 "Symbol names from default module name"
DMD and SDC differ in behavior in determining the module name if none is given. Please follow along in the shell:

[code]
Note that SDC assumes that asm_output.d is part of a package called 'tests'. DMD seems to strip the input path completely when determining the package name, i.e. it assumes no package at all.

The problem becomes very visible when specifying absolute paths on the cmdline (when

[2015-11-01 00:13] deadalnix commented on #170
I have no idea what is expected, the spec is not very clear about all this. Overall, I don't think that one should expect anything if the module name is unspecified.

[2015-11-01 00:35] JohanEngelen commented on #170
I ran into this problem because of import statements (that will call different symbols than are generated when the path is not stripped from the input files).
To see what I mean, try this in the tests directory:
[code]

[2015-11-24 18:39] UplinkCoder opened #172 "segfault due to lax Flow analysis and a bug in RangeForeachLowering"
try to compile the following
[code]

[2015-11-26 00:20] deadalnix commented on #172
Long story short, the problem is that the function doesn't terminate properly.

The flow analyzer actually detect function termination, but doesn't make it an error as assert(0); is not implemented at this stage.

[2015-11-28 04:00] #172 closed

[2015-12-11 15:59] UplinkCoder commented on #164
compiling sdc itself on windows assuming you are on 64bit is no problem.
getting LLVM to link against it is a problem...

[2015-12-11 23:11] UplinkCoder opened #184 "more efficient AST representation."
We want our ASTNodes to be in a continuous chunk of memory.
A Tree like this :
             O
         /        \
L          R
should be in memory like this |L|O|R|
this will most likely be much more cache efficient then relaying of D's gc-allocator.
However certainly more knowledge about memory access patterns is needed to make definitive decision.
@schancel  could you assign me to this issue ?

[2015-12-12 08:01] deadalnix commented on #184
The proposed scheme doesn't compose to boot and would create a completely memory random access pattern.

[2015-12-12 18:36] UplinkCoder commented on #184
We want it to be in one contiguous block nonetheless.

[2015-12-18 22:32] UplinkCoder commented on #118
can be closed!

[2015-12-18 23:13] #118 closed

[2015-12-27 17:20] UplinkCoder commented on #119
DMD does not compile that.
the inner ananymous struct cannot be the type of a member variable;
` struct S { struct { int a; } } `
would be supported.

[2016-01-17 07:02] UplinkCoder commented on #139
@deadalnix  can be closed.

[2016-01-18 01:17] #139 closed

[2016-01-18 15:13] UplinkCoder commented on #147
@deadalnix please close this

[2016-01-18 15:15] UplinkCoder commented on #116
@deadalnix can be closed.

[2016-01-18 15:18] UplinkCoder commented on #129
@deadalnix seems like this can be closed as well.

[2016-01-18 15:43] #116 closed

[2016-01-18 15:44] #147 closed

[2016-01-20 09:53] UplinkCoder commented on #124
at least pure and CTFEable should be computed bottom-up so we can exit early and have better use of cache-locality

[2016-02-01 18:38] UplinkCoder opened #192 "no error on missing defaut in non-final switches"
as per title.
We currently don't error when there is no default statement in a switch.
this causes strange code to be generated.
We should throw an error if there is no default case in a non-final switch.

[2016-02-02 13:13] vivekvpandya commented on #192
I think this can be handle at parsing of switch statements. I would like to look into this.

[2016-02-02 14:55] UplinkCoder commented on #192
I would not be wise to put a semantic restriction into the parser.
The error should be detected in the semantic phase.
@vivekvpandya please go ahead.

[2016-02-02 15:12] vivekvpandya commented on #192
@UplinkCoder yes, I realized that between switch and default there can be many case statements.
Which file contains semantic phase for switch ?? I can see lexer.d , parser.d etc.

[2016-02-02 15:27] UplinkCoder commented on #192
so the AstSwitchStatement has a statement inside it.
this statement is a blockStatement
you need to iterate trough the CaseStatements inside of that blockStatement
and see if there is a default there

[2016-02-02 15:41] UplinkCoder commented on #192
@vivekvpandya please feel free to ask for advice.

[2016-02-02 16:03] UplinkCoder commented on #192
@vivekvpandya could you clean the above up ?

[2016-02-02 16:14] vivekvpandya commented on #192
I have just started to change void visit(AstSwitchStatement s)  method in SDC/libd/src/d/semantic/statement.d

[2016-02-02 16:15] UplinkCoder commented on #192
it would be nice if the check could be done in a separate method

[2016-02-02 16:16] vivekvpandya commented on #192
ok I will do it. and instead of assertion shouldn't we throw CompileException ??

[2016-02-02 16:20] UplinkCoder commented on #192
yes.
we should generate an error and insert it instead in the flattenedStatements
that was what I meant with cleanup.

[2016-02-02 16:29] UplinkCoder commented on #192
hmm it seems we have no ErrorStatement.

[2016-02-02 16:30] vivekvpandya commented on #192
[code]
Is this look oky ?

[2016-02-02 16:30] UplinkCoder commented on #192
so throwing a compile-Exception will be fine for now

[2016-02-02 16:30] UplinkCoder commented on #192
Egyptian-braces.

[2016-02-02 16:38] UplinkCoder commented on #192
on top of that we should check if there is more then one default case.

[2016-02-02 16:39] vivekvpandya commented on #192
`bool hasDefaultCase(AstSwitchStatement s) {
		bool defaultCaseStatus = true;
		auto cases = (cast(AstBlockStatement*)&s.statement).statements;
        auto _default = context.getName("default");
        import std.algorithm;
        auto defaultCaseRange = cases
            .map!(s => cast(AstLabeledStatement) s)
            .filter!(s => s !is null)
            .filter!(s => s.label == _default)

[2016-02-02 16:41] UplinkCoder commented on #192
it would be better to ask for hasNoDefaultCase... because then you don't need to init the variable explicitly.

[2016-02-02 16:42] UplinkCoder commented on #192
when the range in non-empty you should do a popFront and check if it's empty now.
if it's not you need to throw a diffrent error.
so better throw the error in the check function.

[2016-02-02 16:52] vivekvpandya commented on #192
void hasDefaultCase(AstSwitchStatement s) {
		auto cases = (cast(AstBlockStatement*)&s.statement).statements;
        auto _default = context.getName("default");
        import std.algorithm;
        auto defaultCaseRange = cases
            .map!(s => cast(AstLabeledStatement) s)
            .filter!(s => s !is null)
            .filter!(s => s.label == _default);
        if(defaultCaseRange.empt

[2016-02-02 16:54] UplinkCoder commented on #192
change the error message to something more meaningful please.

[2016-02-02 16:55] UplinkCoder commented on #192
then you can open a PR.

[2016-02-02 16:55] vivekvpandya commented on #192
Actually error message is copied from dmd

[2016-02-02 16:56] vivekvpandya commented on #192
function name only check or checkHasDefaultCase ??

[2016-02-02 16:56] UplinkCoder commented on #192
we try to improve on dmd here.
only check

[2016-02-02 16:57] vivekvpandya commented on #192
ok, why only check ??

[2016-02-02 16:58] UplinkCoder commented on #192
because it should be the same name for all semantic checks.
we can the automatically dispatch. the the same as with the visitors.

[2016-02-02 16:59] vivekvpandya commented on #192
[code]
Is this ok ?

[2016-02-02 17:00] UplinkCoder commented on #192
"switch statement**s** with multiple defaults are not allowed"

[2016-02-02 17:01] UplinkCoder commented on #192
LGTM please open a PR.

[2016-02-02 17:01] vivekvpandya commented on #192
[code]

[code]

finally it looks like this

[2016-02-02 17:02] UplinkCoder commented on #192
I'll comment on the PR.

[2016-02-02 17:03] UplinkCoder commented on #192
and please have a look at my code above and add newlines accordingly.

[2016-02-02 17:25] UplinkCoder commented on #192
this is fixed by #193

[2016-02-02 18:19] deadalnix commented on #192
No this isn't fixed by this PR and the whole suggested approach is wrong.

You can fix this by adding a flag in FlowAnalyzer for the presence of a default case. Save the state of the flag at switch entrance. Set the flag when encountering a default case. Check the flag on switch exit and restore the previous value.

[2016-02-02 18:22] deadalnix commented on #192
Add flag here: https://github.com/SDC-Developers/SDC/blob/master/libd/src/d/semantic/flow.d#L37
Save/Restore here: https://github.com/SDC-Developers/SDC/blob/master/libd/src/d/semantic/flow.d#L193-L210
Check flag here: https://github.com/SDC-Developers/SDC/blob/master/libd/src/d/semantic/flow.d#L218
Set flag here: https://github.com/SDC-Developers/SDC/blob/master/libd/src/d/semantic/flow.d#L321

D

[2016-02-03 03:39] UplinkCoder commented on #192
@vivekvpandya can you handle this ?
I'll give advice when asked.

[2016-02-03 04:20] vivekvpandya commented on #192
@UplinkCoder yes let me give it a try.

[2016-02-03 07:39] vivekvpandya commented on #192
I will take some more time than regular D developer because I also needs to understand various D specific features.

[2016-02-08 02:02] deadalnix opened #196 "Generating assert within mixin trigger assertion failure"
The filename isn't generated properly for assert and other errors when within a mixin.

[2016-02-17 05:46] vivekvpandya commented on #192
@UplinkCoder @deadalnix  this should be fixed by PR #199

[2016-02-17 05:53] vivekvpandya commented on #12
@bhelyer @deadalnix  I can see some code for this in libd/src/d/semantic/vrp.d . Is this based on Jason Patterson's method or it is dominator tree based approach ? In which files this is used for simplification ? Is CTFE a probable candidate ?

[2016-02-17 06:13] deadalnix commented on #192
Yes, closing.

[2016-02-17 06:13] #192 closed

[2016-02-17 06:18] deadalnix commented on #12
I'm not sure what you mean. VRP is used when casting from an integral type to a smaller integral type. It is allowed in D if VRP can prove it is safe. It is called from caster.d as a fallback when regular integral cast fails.

vrp.d is very ad hoc right now, and could win from some improvement.

VRP here doesn't need to take into account flow analysis (that would make the front too slow) and is ju

[2016-02-17 08:12] vivekvpandya commented on #12
@deadalnix Ok I understand what you mean by VRP is used for check before casting.
As you pointed out correctly , compiler optimization VRP and for that matter I am referring very old but useful work http://www.lighterra.com/papers/valuerangeprop/Patterson1995-ValueRangeProp.ps.gz
It is more aggressive than constant propagation. LLVM has implementation for that but not in upstream compiler , it mai

[2016-02-29 16:00] dhasenan opened #200 "Default executable name should be based on input filename"
The default executable name is currently set to "a.out". This is traditional, but it's also cruddy. It should be based on the input filename instead, much like the default object file's name.

[2017-02-15 23:47] qno opened #204 "libd lexer can't parse druntime object.d"
Hi,

I was just playing with the sdc libd parser and got immediately stuck with the following problem.

The parser fails at definition of [alias ulong size_t;](https://github.com/dlang/druntime/blame/master/src/object.d#L27)

The error message is:
d.exception.CompileException@libd/src/d/exception.d(15): expected 'Identifier', got 'Ulong'.
Complete stacktrace see below.

Steps for reproduction:
Cal

[2017-02-16 12:43] qno commented on #204
OK - so far I've found out, that in libd/src/d/parser/declaration.d in method

[code]

the case according to [DGrammar aliasDeclaration](https://rawgit.com/Hackerpilot/DGrammar/master/grammar.html#aliasDeclaration)

[code]
```| 'alias' storageClass* type identifierList ';' ``` part is not implementet.

So my question now would be: *Is this easy or rather hard to add?*

[2017-02-16 15:09] deadalnix commented on #204
This is rather easy to do, however, this syntax is deprecated so I'm not sure how much value it is to support it.

[2017-02-16 16:05] qno commented on #204
I see, thank you. You mean that this syntax is the most recent - http://dlang.org/spec/grammar.html?

[2017-02-16 20:01] deadalnix commented on #204
I mean that

    alias [...] identifier;

is the old way and is more or less deprecated.

    alias identifier = [...];

Is the new blessed way.

[2017-02-16 21:42] qno commented on #204
OK - now I've got it, I changed the declarations an it worked. Now I'm on my way through rest.

Thank you.

[2017-02-16 21:42] #204 closed

[2017-04-14 13:13] WebDrake opened #209 "Cannot build simple program with empty `main`"
I recently built SDC from the current master (https://github.com/SDC-Developers/SDC/tree/95d690c349bbda539666c18db6aa59b42b91c3f7) using DMD 2.072.2 and LLVM 3.9.1.  On trying to compile a simple no-op file:

[code]

... I got a long stacktrace which suggests that something is failing during parsing:

[code]

Note, I built SDC using a snap package definition, where DMD 2.072.2 and LLVM 3.9.1 are b

[2017-04-14 17:35] calexHG commented on #209
"/home/username/code/snap/sdc.snap/stage/bin/../import/object.d:2108..."

I don't use SDC, so take anything I say with a cup of salt, but whatever it is you're doing, it looks like it is feeding your SDC installation with import paths for a non–SDC-provided druntime (the SDC-provided version of object.d has less than a 100 lines and the error notice you posted mentions line 2108).

SDC is itself d

[2017-04-14 19:15] calexHG commented on #209
Unfortunately, it seems that CompileException is not made to actually output any of the info it has on the location of the error by default, but looking through the code, it looks like SDC *tries* to catch the CompileException at all the points where such an exception might escape to the user,  and then manually extracts and prints that most-useful bit of diagnostic information:

[code]

~~Are you

[2017-04-15 10:05] deadalnix commented on #209
Make sure your sdc.conf file does looks right. Worst case scenario delete it and let it regenerate. It looks like it isn't looking for the right object.d .

[2017-04-17 10:04] WebDrake commented on #209
I presume you mean this line?

[code]

I think this is simply an artefact of how the compiler was built: that was the location of the Phobos `object.d` of the DMD used to build SDC.

I'll look into the other points raised further in the coming week.

[2017-04-17 13:13] deadalnix commented on #209
I presume that you are using DMD's object.d instead of SDC's.

[2017-04-17 18:15] WebDrake commented on #209
Ah, I see what you mean.  So the `*.d` files from the `sdlib` directory are expected to be included in the install?  Any particular constraints on their location?

[2017-04-17 18:50] WebDrake commented on #209
Just to confirm, it was the choice of `object.d`: a mistake in how I was setting up the snap package definition.  All working now; thanks for the assistance!

I'll share the package definition later in the week if you're interested: it might be useful for some forms of CI (or just for a simple way for people to build and install something working from master).

[2017-04-17 19:36] #209 closed

[2017-09-01 05:59] pirocks commented on #128
Also very useful in ides/text editors, because you don't need to re-parse the entire file on every key-press.

[2018-01-07 14:02] #81 closed

[2018-01-07 14:02] #82 closed

[2018-01-07 14:03] #83 closed

[2018-01-07 14:03] #84 closed

[2019-02-23 15:30] FraMecca opened #215 "Can't build: TypeInfo_Struct not found. object.d may be incorrectly installed or corrupt."
Hi,
I can't compile on Gentoo, dmd 2.084.0 and LLVM 7.0.1.
I tried Linux Mint as well with dmd ~master and LLVM 6 and LLVM 7

[code]

[2019-03-02 20:18] deadalnix commented on #215
Probably something related to the lastest DMD. Let me dig into this.

[2019-03-02 20:39] deadalnix commented on #215
I did fix the deprecation warning you are seeing. After I did this, I needed to clean before I could compile and run the test suite successfully.

I tried on a debian machine with LLVM7 and DMD v2.085.0 .

[2019-03-03 20:03] FraMecca commented on #215
I can't test it given that the repositories for Dlang in Gentoo don't provide dmd 2.085 yet

[2019-03-04 05:19] wilzbach commented on #215
Use the official install script to install any version locally: https://dlang.org/install

[2020-05-12 08:57] #215 closed

[2021-06-07 18:59] WebFreak001 opened #218 "parsing with tree sitter"
Hi, do you think it would be possible to add a tree-sitter parsing backend for the code -> AST (excluding semantics) for the possibility of having extremely fast incremental parsing updates?

Advantage of this would be that you could easily quickly reparse files on every update as it's optimized for reparsing, making it a great choice for IDEs.

See https://tree-sitter.github.io/tree-sitter/

[2021-08-22 08:55] John-Colvin opened #219 "build fails complaining about object.d"
[code]

dmd 2.097.2, macos. Same result on linux and with older compilers.

[2021-08-22 09:01] John-Colvin opened #220 "README is unclear which dmd version to use"
says 2.094 at the top, then says "latest" in the actual build instructions

[2021-09-18 13:46] AlectronikForge opened #221 "Align of structures not supported yet"
The D equivalent to __attribute__((__packed__)) in C to have structures byte-aligned instead of word-aligned is afaik align(1) but SDC doesn't recognize that yet. Error message is: `expected 'Begin', got 'Align'`. Version is current git.

I know it's not the most requested feature but necessary to interface with hardware.

[2022-01-21 12:25] belka-ew opened #223 "sdfmt: comment eats the next line"
sdfmt formatting breaks the code after a comment.

[code]

Here `catch` is moved into the comment and the code doesn't compile anymore.

[2022-04-13 02:49] maxhaton commented on #219
I also had this issue. In my case it's because dmd is finding the sdc `object.d` and thinking it's *the* `object.d`.

So basically needs
[code]
or similar.

@deadalnix

[2022-04-15 15:12] deadalnix commented on #219
I never ran into that problem. In what condition does DMD gets confused?

[2022-04-15 15:16] maxhaton commented on #219
If you use dmd on linux via the install.sh script and `source` blah blah, then druntime and phobos are not in `/usr/include/dmd/druntime/import` so the import points at nothing whereas there is an import to something (sdrt) which has an `object.d` in it.

You could also move/hide the object.d

[2022-04-15 16:14] deadalnix commented on #219
I think this is fixed in deb3afd13c0e33ece83abf2bcbe26c123449f473

Can you confirm?

[2022-04-20 21:48] maxhaton opened #224 "sdfmt splits float literal."
`static assert(foo(2.0f) == 0.0f);`

`sdfmt -i`

yields

`static assert(foo(2.0f ) == 0.0 f ) ;`

[2022-04-20 21:57] maxhaton commented on #224
Same with complex literals by the looks of things

[2022-04-20 22:03] maxhaton opened #225 "sdfmt merges `#line` directive with following (...) line"
[code]
`sdfmt -i`
yields
[code]
which is not valid.

[2022-04-21 02:09] deadalnix commented on #219
This is good.

[2022-04-21 02:09] #219 closed

[2022-04-21 12:56] belka-ew commented on #223
Yes, it is.

[2022-04-21 12:56] #223 closed

[2022-04-21 15:06] deadalnix commented on #224
Fixed in d33c38c93452f6b1a1d5e2a3aebb7a8cfb1a75e3

[2022-04-21 15:06] #224 closed

[2022-04-29 15:20] maxhaton opened #227 "sdfmt bad formatting"
[code]
yields
[code]

`)(lhs);` is the ugly bit.

[2022-05-01 21:45] maxhaton opened #228 "String literals need to be able to decay to suitable pointer type."
[code]

sdc complains, dmd does not.

[2022-05-19 18:59] deadalnix commented on #228
Indeed. I have used `.ptr` explicitly but even that is not good. What's needed:
 - A CStringLiteral node in the IR.
 - The caster to be updated to be able to case StringLiterals to immutable(char)* (which then case case to const) generating a CStringLiteral node.
 - Properly materialize CStringLiterals node in the backend.

 That would have been fairly challenging in the early days of SDC, but now

[2022-05-19 19:46] deadalnix commented on #227
Isn't this fixed now?

[2022-05-19 19:54] maxhaton commented on #227
[code]
The output is this now. It's fixed enough I suppose

[2022-05-19 20:29] deadalnix commented on #227
It can obviously always be improved, but it looks like sdfmt understand the code properly. Multiple parameter packs following each others are always a bit tricky to format.

[2022-05-19 20:29] #227 closed

[2022-05-22 02:18] maxhaton opened #231 "sdfmt: Template constraint formatting issue"
[code]
is currently a fixed-point for sdfmt. This is ugly.

Note that the DStyle dictates a new line per brace.

[2022-05-22 02:42] maxhaton commented on #228
A new node probably isn't the way to do this.
[code]
These declarations are both initialized with strings but the later one is rejected by dmd. It's basically VRP on the null terminator.

[2022-05-22 16:40] deadalnix commented on #231
I never understood why the DStyle state one line per brace. this is awful in general, but this is especially awful in D. Consider contract for instance, mostly because of that guideline, a new syntax was introduced, but even more damning, there was a proposal by Andrei no less to change the recommendation for in condition to be written within the function's body with assert because the existing st

[2022-05-22 16:47] deadalnix commented on #228
There are a couple of problem with what DMD is doing, starting by the fact that there is absolutely no need for it. We probably still want a CStringLiteral node, and, if need be, do a deep rewrite of the expression.

[2022-05-22 22:41] maxhaton commented on #231
Personally, I like having braces on separate lines for function decls at least. I couldn't care less about statements though.

Having the constraint to be intended so that it looks distinct from the function is a good thing (although I don't really care as long as a codebase has a convention) but I think the current formatting just looks really weird.

[code]

Having the brace on the same line as

[2022-05-22 22:53] deadalnix commented on #231
Having the brace on the same line is an exceedingly common pattern, it is called Egyptian braces and is present in numerous coding conventions.

[2022-07-03 02:53] maxhaton opened #235 "ldc build issue seems to persist"
Command:
[code]
Log:
[code]

[2022-07-03 21:59] deadalnix commented on #235
What's the actual problem here? It looks like this is a bug in LDC. Can we loop someone from LDC in? @kinke maybe?

[2022-07-03 22:09] maxhaton commented on #235
It's possible that it's something weird going in the ldc glue but recall that we have the hack in place to tell dmd where to actually look

[2022-07-03 22:09] maxhaton commented on #235
[code]

[2022-07-04 00:37] kinke commented on #235
This looks like a follow-up error after the 'Error: undefined identifier `_xopEquals` in module `object`'. LDC's glue layer might not be very resilient when it comes to projects with custom `object.d` missing misc. hooks.

[2022-07-04 00:43] maxhaton commented on #235
It's.not a custom object.d as per se

[2022-07-04 10:10] kinke commented on #235
What's https://github.com/snazzy-d/sdc/blob/master/sdlib/object.d then? It applies to all other modules compiled in the same cmdline at least. E.g., the empty TypeInfo class surely trips up LDC at some point; if the point is to prevent TypeInfos from being emitted, there should be no TypeInfo class at all (that was one point of making druntime 'pay-as-you-go').

[2022-07-05 00:03] deadalnix commented on #235
I think this is a bug in LDC. This file is not being compiled by LDC and is not supposed to be used by LDC. Is it because the include path and take precedence over the builtin druntime?

[2022-07-05 00:05] deadalnix commented on #235
It is the object.d to be used by sdc, ldc do not need to use that.

[2022-07-05 00:10] kinke commented on #235
Likely, the builtin one has lowest priority. Using `-v` shows the imported files (just like DMD).

Using an LDC with enabled assertions might be helpful to diagnose missing/incompatible `object.d` stuff; can be downloaded from https://github.com/ldc-developers/ldc/releases/tag/CI.

[2022-07-05 00:20] kinke commented on #235
[With LDC v1.30.0-beta1, I don't get a segfault anymore, just the missing `object._xopEquals` error.]

[2022-07-05 00:21] kinke commented on #235
[code]

[2022-07-05 14:41] deadalnix commented on #235
Ok, so the wrong object.d is being used here. Is there a way to get ldc to vomit what the default objet.d (or alternatively druntime's path) so that it can be passed explicitly to the build command?

[2022-07-05 15:13] kinke commented on #235
Not really, it's set in `etc/ldc2.conf` (usually `../import` relative to LDC bin dir). But the same problem should apply to DMD and GDC, so a general solution is needed (i.e., making sure that `sdlib/object.d` isn't importable). Wrt. `object._xopCmp` being referenced eagerly for LDC, that's just caused by a different TypeInfo emission strategy (compared to DMD).

[2022-07-05 17:42] deadalnix commented on #235
I think 64ec45efbeb046f43c58ac192ea1174ec7bd320f fixes this.

[2022-07-05 23:35] deadalnix commented on #235
It tirns out there is still a problem, but this one specifically is solved, so I'm closing this.

[2022-07-05 23:35] #235 closed

[2022-07-13 03:13] maxhaton opened #236 "aliases to symbols need to be considered as an overload."
[code]
is rejected entirely.

[2022-08-31 15:33] kinke opened #237 "sdfmt: `sdfmt off` directive leads to wrong formatting (instead of disabling it)"
This works fine and is appropriately formatted already (sdfmt doesn't change anything):
[code]

Now when trying to disable formatting for that declaration, sdfmt (9325f6b0b4e337a087dfa95a873ec440d101f366) formats it wrongly:
[code]
=>
[code]

[2022-09-19 10:22] nordlow opened #238 "Adjust formatting of version declarations"
Would it be possible to adjust so that sdfmt formats

[code]

as is instead of current

[code]

, @deadalnix ?

[2022-09-19 13:59] deadalnix commented on #238
Fixed in 66f808b96b031c78b0c6d0c33ba3be4d88ffab4b

[2022-09-19 13:59] #238 closed

[2022-09-28 13:46] dejlek opened #239 "Could you please make it possible to use newer LLVM?"
3.9 is quite old. In order to use it the only option is to build it somewhere locally. Fedora and Ubuntu nicely package LLVM in such a way that we can have multiple versions of LLVM installed. Fedora does this starting with llvm 7, Ubuntu with 11, so perhaps a good idea would be to update SDC so it can be built with LLVM 11 (as it can be easily installed on both Fedora and Ubuntu). I know people u